<?php
return array (
    'smtp_transport' => array(
        'host' => 'smtp.gmail.com',
        'connection_class' => 'login',
        'port' => '587',// '25',
        'connection_config' => array(
            'ssl' => 'tls',
            'username' => 'email',
            'password' => 'password',
        ),
    )
);